.page-wrapper {
  // padding: 1.6rem;
}

.page-header {
  margin-bottom: 2rem;
}

.page-frame {
  padding: 0 2rem;
  max-width: 80rem;
}

.page-content {
  margin-left: 20rem;
}

nav {
  // display: flex;
  float: left;
  width: 20rem;
  padding-right: 4rem;
  font-size: 1.4rem;

  h3 {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 1rem 0 0 0;
  }

  a {
    display: block;
    width: 100%;
    padding: 1rem 1rem .8rem 1rem;
    margin-left: -1rem;
    border-bottom: .1rem solid;

    &:active {
      background: $color-link;
      color: $color-white;
      transition: 0 ease all;
    }
  }
}

@media only screen and (min-width: 50rem) {
  .main-nav {
    font-size: 1.8rem;
  }
}
