
// colors
$color-white: #fff;
$color-light: #ebe8ee;
$color-medium: #c2bec7;
$color-dark: #49484b;

$color-link: #c594e7;
$color-link-hover: #9262b4;


// measurements
$radius-standard: .3rem;


// other properties
$speed-transition-standard: .35s;
$speed-transition-hover: .1s;
